hr {
    border-top: 1px solid rgba(0,0,0,.1);
    display: block;
    margin: 40px 0;
    width: 100%;
}
#paketUmrah .card-wrap {
    height: 0;
    color: #fff;
    position: relative;
    overflow: hidden;
    padding-bottom: 99.22%;
    border-radius: 50%;
    align-items: center;
    background: #2c3280;
    border: none;
    transition: .3s all;
}
#paketUmrah a.active .card-wrap, #paketUmrah a:hover .card-wrap {
    color: #797979;
    background-color: #ebebeb;
}
#paketUmrah .card-wrap .card-body {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 2rem;
    @media screen and (max-width: 1024px) {
        padding: 1rem;
    }
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#paketUmrah .card-wrap .card-body .card-text {
    font-size: 1.6rem;
    @media screen and (max-width: 1024px) {
        font-size: .8rem;
    }
}
#paketUmrah a.head {
    background: transparent;
}

table.fitz-style {
    tr {
        display: flex;
        flex-direction: row;
    }
    td, th {
        border-width: 0px;
        margin: 10px 1.5px;
        vertical-align: middle;
        flex: 1;
        background: #ebebeb;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    th {
        background: #2c3280;
        color: #fff;
    }
    td {
        background: #ebebeb;
        color: #000;
    }
}

.ftz-card-group-one-body {
    .card {
        padding: 0 3px;
        border: 0;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
    .card-body{
        text-align: center;
        background: #e00;
        color: #fff;
    }
}

.responsive-card-img-group {
    height: 0;
    overflow: hidden;
    padding-bottom: 60%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.responsive-card-batch-right {
    position: absolute;
    bottom: 0;
    background: #d80000;
    color: #fff;
    right: 0;
    padding: 5px 10px;
    font-size: 25px;
    font-weight: 600;
}